/* Generate font ROBOTO CONDENSED REGULAR */
@font-face {
    font-family: 'roboto-cond';
    src: url('../fonts/RobotoCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
